/* Challenge

   Make the navigation layout work
   on both mobile and large screens.

   Mobile-first, so mobile styles first,
   then add the large screen styles
   inside the existing media query

*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.nav {
  width: 100%;
  max-width: 1100px;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  flex: 1;
  display: flex;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  margin-left: 40px;
}

li a:hover,
li a:focus {
  background-color: #a59678;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 50px;
}

img {
  max-width: 100%;
}

.hero {
  padding: 100px 0 100px 0;
  background-color: #3b4050;
  color: #fff;
}

.hero__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 90px;
  align-self: flex-end;
}

.hero__text-2 {
  padding: 0 0 0 2rem;
  /* align-self: flex-end; */
}

.hero__text-2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: justify;
  line-height: 1.5;
  display: flex;
}

.btn {
  align-self: flex-start;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  background-color: #a59678;
  padding: 0 1.5em;
  border-radius: 50px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  background: #2e323f;
  padding: 1em 0;
  text-align: center;
}

.nav__list {
  display: flex;
}

.nav__list--secondary {
  justify-content: flex-end;
}

.nav__item {
  margin: 0 10px;
}

.logo {
  height: 30px;
}

.sidebar {
  padding: 1em;
  text-align: center;
  color: #fff;
  background-color: #136c72;
}

.color {
  background-color: rgba(111, 115, 127, 0.1);
  color: #a59678;
}

.mini-container {
  padding: 2rem 6rem;
  display: flex;
}

.mini-container-container {
  text-align: center;
  padding: 2rem 1rem;
}

.mini-container-container h2 {
  font-family: "Oswald";
  font-size: 30px;
}

.mini-container-container p {
  color: #2e323f;
  font-family: "Montserrat";
  font-size: 18px;
}

.main-container {
  display: flex;
  padding: 4rem 0;
  justify-content: space-between;
}

.primary-container {
  padding-right: 5rem;
  color: #2e323f;
  flex-shrink: 1.15;
}
.primary-container h2 {
  font-family: "Oswald";
  font-size: 36px;
  color: #a59678;
}

.primary-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
}

img {
  width: 100%;
}

.side-container {
  display: flex;
  flex-direction: column;
}

.side-container-paragraph {
  background-color: #3b4050;
  padding: 2rem 2rem 2rem 2rem;
  color: #fff;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
}

.side-container-paragraph h2 {
  text-align: center;
  margin-bottom: 1.15rem;
  font-family: "Oswald";
}

.last-p {
  padding-top: 3rem;
}

.footer {
  background-color: #3b4050;
}

.footer-title {
  padding: 3rem 0 2rem 0;
  color: #ffffff;
  font-family: "Oswald";
  font-size: 40px;
  text-align: center;
}

.footer-container {
  display: flex;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  gap: 10%;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 1.5rem;
}

.footer-container-main-extra {
  display: flex;
  gap: 10%;
  flex: 150px;
  justify-content: space-between;
}

.footer-container-main {
  max-width: 400px;
}

.footer-container h3,
.footer-container-main h3 {
  color: #a59678;
  margin-bottom: 1.75rem;
  font-family: "Oswald";
}
